BASE_URL=https://example.com
IS_IN_MAINTENANCE=false
SHOPIFY_STORE_DOMAIN=your-shop-domain.myshopify.com
SHOPIFY_STOREFRONT_ACCESS_TOKEN=your-storefront-access-token
SHOPIFY_REVALIDATION_SECRET=your-revalidation-secret
