.cart-btn__hint {
  position: absolute;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 80%;
  left: 80%;
  transition: transform 0.2s ease-out;
}

.cart-btn__btn {
  &:hover {
    .cart-btn__icon {
      stroke-width: 1.75;
    }
  }
}
