.cart-btn__hint {
  position: absolute;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 80%;
  left: 80%;
}

.cart-btn__btn {
  backdrop-filter: blur(10px);
  box-shadow: 0px 0px 0px 0px rgba($color: white, $alpha: 0.1);
  background-color: rgba($color: white, $alpha: 0.1);
}

@media (min-width: 1024px) {
  .cart-btn__btn {
    &:hover {
      box-shadow: 0px 0px 0px 1px rgba($color: white, $alpha: 0.1);
    }
  }
}
