.cart__items-wrapper {
  &::-webkit-scrollbar {
    background: transparent;
    width: 2.5px;
  }

  &::-webkit-scrollbar-thumb {
    background: rgb(115, 115, 115);
    border-radius: 9999px;
  }

  scrollbar-width: thin;
  scrollbar-color: rgb(115, 115, 115);
}
