.cart__modal {
  transition: 0.2s transform ease-out;
  transform: translate(100%);
}

.cart__modal--open {
  transform: translate(0);
}

.cart__shipping-summary {
  p:last-child {
    @apply text-sm;
    @apply text-neutral-600;
  }
}

.cart__items-wrapper {
  &::-webkit-scrollbar {
    display: none;
  }

  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
}

@media (min-width: 768px) {
  .cart__modal {
    transform: translate(calc(100% + 8px));
  }

  .cart__modal--open {
    transform: translate(0);
  }
}

@media (min-width: 1024px) {
  .cart__close-btn {
    &:hover {
      svg {
        @apply stroke-[1.75];
      }
    }
  }

  .cart__trigger {
    &:hover {
      & + .cart__modal {
        transform: translate(100%);
      }

      & + .cart__modal--open {
        transform: translate(0);
      }
    }
  }
}
