@media (min-width: 1024px) {
  .product-preview {
    &:hover {
      .product-preview__image {
        @apply scale-[1.025];
      }

      .product-preview__name {
        @apply scale-[1.025];
        @apply translate-x-1;
      }
    }
  }

  .product-preview__image {
    transition: 0.5s transform ease-out;
  }

  .product-preview__name {
    transform-origin: left center;
    transition:
      0.2s font-weight ease-out,
      0.2s transform ease-out;
  }
}
