@tailwind base;
@tailwind components;
@tailwind utilities;

body.scroll-locked {
  overflow: hidden;
}

@media (min-width: 768px) {
  body.scroll-locked {
    overflow: visible;
  }
}

mux-player {
  pointer-events: none;
  --controls: none;
  --dialog: none;
  --loading-indicator: none;
  --media-object-fit: cover;
  --media-object-position: center;
}
