.button {
  &:global(.disabled) {
    @apply bg-neutral-400;
  }
}

.button--black {
  background-color: black;
}

.button--white {
  background-color: white;
}

.button--transparent {
  backdrop-filter: blur(6px);

  &.button--white {
    background-color: rgba($color: white, $alpha: 0.1);
  }

  &.button--black {
    background-color: rgba($color: black, $alpha: 0.8);
  }
}

@media (min-width: 1024px) {
  .button {
    transition:
      transform 0.2s ease-out,
      font-weight 0.2s ease-out;

    &:not(:global(.disabled)):hover {
      transform: scale(1.01);
      @apply font-semibold;

      & > * {
        transform: scale(0.99);
      }
    }

    & > * {
      transition: transform 0.2s ease-out;
    }
  }

  .button--mini {
    &:not(:global(.disabled)):hover {
      transform: scale(1.05);

      & > * {
        transform: scale(0.95);
      }
    }
  }
}
