.logo__blur {
  --extended-by: 10px;
  --cutoff: calc(100% - var(--extended-by));
  inset: 0;
  bottom: calc(-1 * var(--extended-by));
  mask-image: linear-gradient(
    to bottom,
    black 0,
    black var(--cutoff),
    transparent var(--cutoff)
  );
  -webkit-mask-image: linear-gradient(
    to bottom,
    black 0,
    black var(--cutoff),
    transparent var(--cutoff)
  );
  backdrop-filter: blur(6px);
  background-color: rgba($color: white, $alpha: 0.1);
}
